{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								
				</ul>
				<ul class="nav-item">
					<a class="nav-link active" aria-current="page" href="/logout">Log-Out</a>
				</ul>
				
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row mt-5">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<video-js
					width="720"
					height="405"
					controls
					data-setup='{"playbackRates": [0.5, 1, 1.5, 2], "fluid": true}'>
					<source src="/media/{{ object.video_file }}" type="video/mp4">
					<p class="vjs-no-js">
					To view this video please enable Javascript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video-js>
				<h5 class="mt-4">{{ object.caption }}</h5>
				<div class="row">
					<div class="col-md-6 text-muted">
						<p>{{ object.date_time | date:"M d, Y" }}</p>
						<a class="category-link" href="{% url 'courses:category-list' object.category.pk %}">{{ object.category }}</a>
					</div>
					<div class="col-md-6 text-muted text-right">
						{% if request.user.is_authenticated %}
							<span class="" id="like-count">{{ object.like_count }}</span>
							<button type="submit" class="btn btn-outline-light btn-outline-dark" id="like-button" value="{{ object.pk }}">
								<ion-icon name="thumbs-up-sharp"></ion-icon>
							</button>
						{% endif %}
						
						
					</div>
				</div>
				<div class="box">
					{% if object.uploader == user %}
					<div class="edit">
						<a class="video-icons icon-color" href="{% url 'courses:video-update' object.pk %}"><ion-icon name="pencil-outline"></ion-icon></a>
					</div>
					<div class="delete">
						<a class="video-icons icon-color" href="{% url 'courses:video-delete' object.pk %}"><ion-icon name="close-outline"></ion-icon></a>
					</div>
					
					{% endif %}
				</div>
				
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h3 class="text-center mb-3">More Similar Videos</h3>
				{% for video in categories %}
					{% if object.pk != video.pk %}
						<div class="position-relative d-flex flex-row mb-5 py-2 border-bottom">
							<img src="{{ video.thumbnail.url }}" width="100" height="50" />
							<h5 class="pl-3">{{ video.caption }}</h5>
							<a href="{% url 'courses:video-detail' video.pk %}" class="stretched-link"></a>
						</div>
					{% endif %}
				{% endfor %}
			</div>	
		
	</div>
	<div class="row mt-3">
        <div class="col-md-8 col-sm-12">
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4">Leave a Comment!</legend>
                {{ form | crispy }}
                <button class="btn btn-outline-info btn-block">Post</button>
            </form>
            {% else %}
            <a class="btn btn-outline-info btn-block" href="/login">Sign In To Post a Comment!</a>
            {% endif %}
        </div>
    </div>

    {% for comment in comments %}
    <div class="row mt-3">
        <div class="col-md-8 col-sm-12 border-bottom">
            <h5>{{ comment.user }} says:</h5>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<script>
	$(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "courses:like" %}',
      dataType: 'json',
      data: {
        videoid: $('#like-button').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like-count").innerHTML = json['result']
      },
      error: function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText);
      }  
    });
})
</script>
{% endblock %}